ion-title{
    text-align: center;
}
.container {
    display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 15px;
}
#number {
    background-color: #ffffff;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    border-radius: 3px;
    position: absolute;
    color: black;
    top: 83%;
    margin-top: 1rem;
}
#number:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-bottom: 10px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -9px;
}
#sunnyy{
    font-size: 2rem;
    position: absolute;
    left: 62%;
    top: 9%;
}
#snoww{
    font-size: 2rem;
    position: absolute;
    left: 62%;
    top: 72%;
}
#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}
#termometer {
	width: 35px;
	background: #b8b8b8; 
	height: 35rem;
	position: relative;
	border: 5px solid darken(#ffffff, 8%); 
	border-radius: 20px;
	z-index: 1;
	margin-bottom: 70px; 
}
#termometer:before, #termometer:after {
	position: absolute;
	content: "";
	border-radius: 50%;
}
#termometer:before {
	width: 100%;
	height: calc(35px + 0px);
	bottom: 5px; 
	background: #ff0000 
}
#termometer:after {
	transform: translateX(-50%);
	width: 70px; 
	height: 70px; 
	background-color: #ff0000; 
	bottom: -35px; 
	border: 5px solid darken(#ffffff, 8%); 
	left: 50%;
	z-index: -3;
}
#temperature {
	position: absolute;
	bottom: 0px; 
	background: linear-gradient(#ff0000, #ff0000);
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	transition: all 0.2s ease-in-out;
}